

.link {
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	background-color: green;
	text-decoration: none;
	text-align: center;
	color: white;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.button {
	width: 100px;
	height:50px;
}