.input_form{
	width: 100%;
}


.input_form label {
	margin-right: 30px;
}

.input_form input {
	margin-right: 50%;
	border-radius: 3px;
	height: 30px;
	width: 70%;
}

.input_form button {
	width: 70%;
}

.input_form textarea {
	width: 70%;
	resize: none;
	border-radius: 3px;
}

.post-selectbox {
	width: 300px;
	height: 30px;
}

.back-button {
	margin-right: 20px;
	float: right;
}
