#posts {
	border: 1px solid #2C2C34;
	border-radius: 5px;
	width: 70%;
	margin-top: 0;
	background-color: #D8D8F6;
	margin-bottom: 30px;
	padding: 20px;
}


.postlist-content {
	padding: 30px;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.postlist-content:last-child {
	border-bottom: none;
}

.postlist-header {
	margin-bottom: 50px;
}


.right {
	float: right;
	margin-right: 10px;
}


.post-title {
	color: #2C2C34;
	text-decoration: none;
}

.post-title:hover{
	color: #B18FCF;
	text-decoration: underline;
}


.likebutton {
	padding: 5px 15px;
	background-color: #2C2C34;
	color: #FFF;
	border-radius: 5px;
}

.likebutton:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #2C2C34;
}

