.postdetail-grid {
	margin: 0 auto;
	width: 60%;
	background-color: #E1DEE3;
	color: #3A4F41;
	padding: 30px;
}


.postdetail-header {
	text-align: center;
}

.postdetail-body {
	margin-top: 40px;
	text-align: justify;
	border-radius: 6px;
	padding: 10px;
}

.author {
	color: #B9314F;
}
