.postdetail-container {
	background-color: #F5F5F5;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 50px;
}


.postdetail-header {
	text-align: center;
}

.postdetail-body {
	margin-top: 40px;
	text-align: justify;
	border-radius: 6px;
	padding: 10px;
	white-space: pre-line;
}

.author {
	color: #B9314F;
}


.postdetail-newcomment-modal {
	width: 50%;
	height: 70%;
	margin: 0 auto;
	position: absolute;
	top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #FFFF;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 20px;

}

.postdetail-newcomment-modal input {
	border-radius: 5px;
	height: 25px;
	width: 60%;
}

.postdetail-newcomment-modal textarea {
	border-radius: 5px;
	width: 60%;
}

.postdetail-newcomment-modal .submit-modal {
	border-radius: 5px;
	width: 60%;
	padding: 15px 30px;
}

.postdetail-newcomment-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);

}

@media screen and (max-width: 900px){
	body {
		font-size: 20px;
	}

	.postdetail-container {
		padding: 15px;
	}

	.comments-grid {
		margin: 0;
	}

	.postdetail-newcomment-modal {
		width: 90%;
		height: 90%;
		margin: 0 auto;
		position: absolute;
		top: 0px;
	    left: 0px;
	    right: 0px;
	    bottom: 0px;
	    background-color: #FFFF;
	    border-radius: 25px;
	    border: 1px solid #ccc;
	    padding: 20px;

	}

	.postdetail-newcomment-modal input {
		border-radius: 5px;
		height: 25px;
		width: 100%;
	}

	.postdetail-newcomment-modal textarea {
		width: 100%;
		height: 200px;
	} 

	.postdetail-newcomment-modal .submit-modal {
		width: 100%;
	}
}

