.postdetail-grid {
	margin: 0 auto;
	width: 60%;
	background-color: #E1DEE3;
	color: #3A4F41;
	padding: 30px;
}


.postdetail-header {
	text-align: center;
}

.postdetail-body {
	margin-top: 40px;
	text-align: justify;
	border-radius: 6px;
	padding: 10px;
}

.author {
	color: #B9314F;
}


.postdetail-newcomment-modal {
	width: 50%;
	height: 70%;
	margin: 0 auto;
	position: absolute;
	top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #FFFF;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 20px;

}

.postdetail-newcomment-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);

}

.left {
	float: left;
}